In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.model_selection import train_test_split # 학습용과 테스트용 데이터로 분리해주는 함수
from sklearn.linear_model import LinearRegression # 선형회귀 모델
from sklearn.neighbors import * # 선형회귀 모델
from sklearn.metrics import mean_squared_error # 잔차 에러 평균, 오차제곱평균, 정확도 측정지표
from sklearn.metrics import accuracy_score # 모델 예측 정확도 측정 함수
from sklearn.linear_model import LogisticRegression # 로지스틱 회귀보델 임포트
from sklearn.preprocessing import *
plt.rcParams['font.family'] = 'D2Coding'

In [2]:
adf = pd.read_csv('배출원별_대기_배출량_인간_활동으로_발생___미세먼지_PM10__20240624152114.csv', encoding='cp949')

In [3]:
adf

     국가                  항목     2016     2017     2018     2019 2020
0  대한민국  인간 활동으로 발생하는 총 배출량  150.081  134.854  147.361  129.332  NaN
1  대한민국         [총 이동형 배출원]   55.475   56.729   57.500   55.450  NaN
2  대한민국             - 도로 운송   39.888   40.535   40.268   38.185    -
3  대한민국                - 기타   15.588   16.194   17.232   17.265    -
4  대한민국         [총 고정형 배출원]   94.606   78.125   89.860   73.882  NaN
5  대한민국               - 발전소    3.951    3.829    3.975    3.365    -
6  대한민국                - 연소   73.262   57.246   69.583   54.109    -
7  대한민국     - 산업 공정 및 제품 사용    6.731    6.759    6.758    6.699    -
8  대한민국                - 농업    0.893    0.866    0.828    0.803    -
9  대한민국               - 쓰레기    9.769    9.424    8.716    8.906    -

In [5]:
adf = adf.drop('2020', axis=1)

In [6]:
adf

     국가                  항목     2016     2017     2018     2019
0  대한민국  인간 활동으로 발생하는 총 배출량  150.081  134.854  147.361  129.332
1  대한민국         [총 이동형 배출원]   55.475   56.729   57.500   55.450
2  대한민국             - 도로 운송   39.888   40.535   40.268   38.185
3  대한민국                - 기타   15.588   16.194   17.232   17.265
4  대한민국         [총 고정형 배출원]   94.606   78.125   89.860   73.882
5  대한민국               - 발전소    3.951    3.829    3.975    3.365
6  대한민국                - 연소   73.262   57.246   69.583   54.109
7  대한민국     - 산업 공정 및 제품 사용    6.731    6.759    6.758    6.699
8  대한민국                - 농업    0.893    0.866    0.828    0.803
9  대한민국               - 쓰레기    9.769    9.424    8.716    8.906

In [8]:
adf = adf.drop('국가', axis=1)

In [9]:
adf

                   항목     2016     2017     2018     2019
0  인간 활동으로 발생하는 총 배출량  150.081  134.854  147.361  129.332
1         [총 이동형 배출원]   55.475   56.729   57.500   55.450
2             - 도로 운송   39.888   40.535   40.268   38.185
3                - 기타   15.588   16.194   17.232   17.265
4         [총 고정형 배출원]   94.606   78.125   89.860   73.882
5               - 발전소    3.951    3.829    3.975    3.365
6                - 연소   73.262   57.246   69.583   54.109
7     - 산업 공정 및 제품 사용    6.731    6.759    6.758    6.699
8                - 농업    0.893    0.866    0.828    0.803
9               - 쓰레기    9.769    9.424    8.716    8.906

In [58]:
mdf = pd.read_csv('미세먼지_PM10__년별 배출량_20240624162043.csv', encoding='cp949')

In [59]:
mdf

,년도,배출원대분류 합계,에너지산업 연소,비산업 연소,제조업 연소,도로이동오염원,비도로이동오염원,폐기물처리,기타 면오염원,비산먼지,생물성 연소
0,2011,1742412,12506,239704,1281,855981,586314,12797,33831,NaN,NaN
1,2012,1727467,12580,234062,1304,793470,634026,16780,35247,NaN,NaN
2,2013,1735385,12733,287471,1174,735914,650466,13175,34452,NaN,NaN
3,2014,1423732,7815,202627,1317,600608,564152,11632,35582,NaN,NaN
4,2015,9162575,7341,221928,1611,531067,657398,9128,36302,7545457.0,152343.0
5,2016,8570515,6444,204948,944,575899,671650,14558,39416,6946046.0,110610.0
6,2017,10552663,7768,182048,980,546848,934197,10402,36763,8716136.0,117520.0
7,2018,15129997,7729,166529,626,585472,1648189,8213,38891,12573062.0,101288.0
8,2019,9682231,10821,165673,982,349216,1012518,10919,36006,7973346.0,122750.0
9,2020,9121111,32388,152810,942,272995,1102245,10521,31138,7375328.0,142744.0
10,2021,9532980,33810,127573,647,252531,919979,10897,30223,8017756.0,139564.0

In [60]:
mdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   년도         11 non-null     int64
 1   배출원대분류 합계  11 non-null     int64
 2   에너지산업 연소   11 non-null     int64
 3   비산업 연소     11 non-null     int64
 4   제조업 연소     11 non-null     int64
 5   도로이동오염원    11 non-null     int64
 6   비도로이동오염원   11 non-null     int64
 7   폐기물처리      11 non-null     int64
 8   기타 면오염원    11 non-null     int64
 9   비산먼지       7 non-null      float64
 10  생물성 연소     7 non-null      float64
dtypes: float64(2), int64(9)
memory usage: 1.1 KB

In [61]:
mdf.head(10)

,년도,배출원대분류 합계,에너지산업 연소,비산업 연소,제조업 연소,도로이동오염원,비도로이동오염원,폐기물처리,기타 면오염원,비산먼지,생물성 연소
0,2011,1742412,12506,239704,1281,855981,586314,12797,33831,NaN,NaN
1,2012,1727467,12580,234062,1304,793470,634026,16780,35247,NaN,NaN
2,2013,1735385,12733,287471,1174,735914,650466,13175,34452,NaN,NaN
3,2014,1423732,7815,202627,1317,600608,564152,11632,35582,NaN,NaN
4,2015,9162575,7341,221928,1611,531067,657398,9128,36302,7545457.0,152343.0
5,2016,8570515,6444,204948,944,575899,671650,14558,39416,6946046.0,110610.0
6,2017,10552663,7768,182048,980,546848,934197,10402,36763,8716136.0,117520.0
7,2018,15129997,7729,166529,626,585472,1648189,8213,38891,12573062.0,101288.0
8,2019,9682231,10821,165673,982,349216,1012518,10919,36006,7973346.0,122750.0
9,2020,9121111,32388,152810,942,272995,1102245,10521,31138,7375328.0,142744.0

In [44]:
mdf = mdf.transpose()

In [45]:
mdf.reset_index(drop=False, inplace=True)

In [63]:
mdf.describe()

,년도,배출원대분류 합계,에너지산업 연소,비산업 연소,제조업 연소,도로이동오염원,비도로이동오염원,폐기물처리,기타 면오염원,비산먼지,생물성 연소
count,11.000000,1.100000e+01,11.000000,11.000000,11.000000,11.000000,1.100000e+01,11.000000,11.000000,7.000000e+00,7.000000
mean,2016.000000,7.125552e+06,13812.272727,198670.272727,1073.454545,554545.545455,8.528304e+05,11729.272727,35259.181818,8.449590e+06,126688.428571
std,3.316625,4.669586e+06,9818.246586,45797.451785,297.963207,199406.901015,3.233644e+05,2458.714383,2819.907616,1.902608e+06,18641.296842
min,2011.000000,1.423732e+06,6444.000000,127573.000000,626.000000,252531.000000,5.641520e+05,8213.000000,30223.000000,6.946046e+06,101288.000000
25%,2013.500000,1.738898e+06,7748.500000,166101.000000,943.000000,440141.500000,6.422460e+05,10461.500000,34141.500000,7.460392e+06,114065.000000
50%,2016.000000,9.121111e+06,10821.000000,202627.000000,982.000000,575899.000000,6.716500e+05,10919.000000,35582.000000,7.973346e+06,122750.000000
75%,2018.500000,9.607606e+06,12656.500000,227995.000000,1292.500000,668261.000000,9.733575e+05,12986.000000,36532.500000,8.366946e+06,141154.000000
max,2021.000000,1.513000e+07,33810.000000,287471.000000,1611.000000,855981.000000,1.648189e+06,16780.000000,39416.000000,1.257306e+07,152343.000000

In [46]:
mdf.rename(columns={'index':'년도', 0:'구분', 1:'배출량'},inplace=True)
mdf

         년도         구분      배출량
0        년도         구분      배출량
1      2011  배출원대분류 합계  1742412
2    2011.1   에너지산업 연소    12506
3    2011.2     비산업 연소   239704
4    2011.3     제조업 연소     1281
..      ...        ...      ...
98   2021.5   비도로이동오염원   919979
99   2021.6      폐기물처리    10897
100  2021.7    기타 면오염원    30223
101  2021.8       비산먼지  8017756
102  2021.9     생물성 연소   139564

[103 rows x 3 columns]

In [50]:
mdf = mdf.drop(index=0, axis=0)

In [51]:
mdf.reset_index(drop=True, inplace=True)

In [54]:
mdf = mdf.set_index('구분')

In [56]:
mdf.reset_index(drop=False, inplace=True)

In [57]:
mdf

            구분      년도      배출량
0    배출원대분류 합계    2011  1742412
1     에너지산업 연소  2011.1    12506
2       비산업 연소  2011.2   239704
3       제조업 연소  2011.3     1281
4      도로이동오염원  2011.4   855981
..         ...     ...      ...
97    비도로이동오염원  2021.5   919979
98       폐기물처리  2021.6    10897
99     기타 면오염원  2021.7    30223
100       비산먼지  2021.8  8017756
101     생물성 연소  2021.9   139564

[102 rows x 3 columns]